<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>details</title>
    <style>
        .class3 {
            background-color: lightsalmon
        }

        #div01 {

            border-style: hidden
        }

        #div02 {
            border-style: hidden
        }

        #div03 {
            border-style: hidden
        }

        #div04 {
            border-style: hidden
        }

        #div05 {
            border-style: hidden
        }

        #div06 {
            border-style: hidden
        }

        #div07 {
            border-style: hidden
        }

        #div08 {
            border-style: hidden
        }

        #div09 {
            border-style: hidden
        }

        #div10 {
            border-style: hidden
        }

        #div11 {
            border-style: hidden
        }

        #div12 {
            border-style: hidden
        }

        #div13 {
            border-style: hidden
        }

        #aab {
            padding: 1px 30px 20px;
        }
    </style>



</head>

<body οnlοad="init()">
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="http://localhost:1337/rent/home">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link " href="http://localhost:1337/rent/paginate">Search</a>
                    <a class="nav-item nav-link " href="http://localhost:1337/rent/my" style = 'display:inline' id='myrent'>My Rentals</a>
                    <a class="nav-item nav-link " href="http://localhost:1337/rent/create" style = 'display:inline' id='create'>Create</a>
                    <a class="nav-item nav-link active" href="http://localhost:1337/rent" style = 'display:inline' id='admin'>Admin<span
                            class="sr-only">(current)</span></a>

                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Real Estate Rental System</h1>
                <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
                    finding roommates.
                </p>
            </div>
        </div>
        <form action="/rent/details/<%= rent.id %>" method="POST">
            <div class="card" id="aab">
                <br>
                <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h4><%= rent.title %></h4>

                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-7 col-xl-7">
                        <img class="img-fluid img-thumbnail" src="<%= rent.url %>" value="cover" width="500"
                            height="500" id="div01" />


                    </div>

                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4" id="div1">

                        <div class="list-group">

                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5>Estate： </h4><%= rent.estate %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5>Gross Area： </h4><%= rent.area %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class=" row">
                                    <h5>Rent：</h4>$<%= rent.rent %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5>Bedrooms：</h4><%= rent.bedroom %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5>Expected Tenants： </h4><%= rent.tenant %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class=" row">
                                    <h5>Created：</h4><%= new Date(rent.createdAt).toLocaleDateString() %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5>Updated：</h4><%= new Date(rent.updatedAt).toLocaleDateString() %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action"><button type="botton"
                                    class="btn btn-primary" onclick="btn1Clicked(this)">Co-Rent</button></a>
                        </div>



                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
//http://localhost:1337/user/2/renting/add/2
//http://localhost:1337/user/2/renting/remove/2
        function btn1Clicked(elem) {

            var r = confirm("Confirm Rent?");

            if (r) {
                // var response = await fetch("/rent/details" + id, {method: "POST",credentials: 'same-origin',});
                
                // const martin = await User.findOne({username: "martin"});
                // const r1 = await Rent.findOne({id:1});
                // await User.addToCollection(martin.id, 'renting').members(r1.id);
                elem.innerHTML = "Move-Out";
            } else {
                alert("cancelled");
            }

        };

        window.onload = function () {

var create = document.getElementById("create");
console.log(create);

var admin = document.getElementById("admin");
var myrent = document.getElementById("myrent");

if ("<%= req.session.username %>" == 'admin') {
    myrent.style.display = 'none';
} else if ("<%= req.session.username %>" == 'kenny') {
    create.style.display = 'none';
    admin.style.display = 'none';
} else if ("<%= req.session.username %>" == 'martin') {
    create.style.display = 'none';
    admin.style.display = 'none';
} else {
    create.style.display = 'none';
    admin.style.display = 'none';
    myrent.style.display = 'none';
}

};

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>