<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>index</title>
    <style>

#div01{
    padding: 20px 20px 20px;
}
#Login {
    float: right;
}


    </style>



</head>
<body οnlοad="init()">
<!-- <body onload="pageLoaded()"> -->
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="http://localhost:1337/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="http://localhost:1337/rent/paginate">Search </a>
                    <a class="nav-item nav-link " href="http://localhost:1337/rent/my" style = 'display:inline' id='myrent'>My Rentals</a>
                    <a class="nav-item nav-link" href="http://localhost:1337/rent/create" style = 'display:inline' id='create'>Create</a>
                    <a class="nav-item nav-link" href="http://localhost:1337/rent" style = 'display:inline' id='admin'>Admin</a>

                </div>

            </div>
            <a class="nav-item nav-link" href="http://localhost:1337/user/login" style = 'display:inline' id='login'>Login</a>
            <text style = 'display:none' id='hiadmin'><h5>hi,admin</h5></text>
            <text style = 'display:none' id='himartin'><h5>hi,martin</h5></text>
            <text style = 'display:none' id='hikenny'><h5>hi,kenny</h5></text>
            <a class="nav-item nav-link" href="http://localhost:1337/user/logout" style = 'display:none' id='logout'>Logout</a>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Real Estate Rental System</h1>
                <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
                    finding roommates.
                </p>
            </div>
        </div>

        <div>
        <div class="row">

                <% rents.forEach( function(model) { %>
                <div id="div01" class="card col-12 col-sm-12 col-lg-6 col-xl-6" >
                        <h5><a href="http://localhost:1337/rent/details/<%= model.id %>""><%= model.title %></a></h5>
                        <div class="row">
                            <div class=" col-12 col-sm-6 col-lg-4 col-xl-6"> <img class="img-fluid img-thumbnail" src="<%= model.url %>" value="cover" width="350"
                                height="350" /></div>
        
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-6" id="div1">
                                    <ul class="list-group">
                                            <li class="list-group-item"><label><h5>Estate:</h5></label> <%= model.estate %></li>
                                            <li class="list-group-item"><label><h5>Gross Area:</h5></label> <%= model.area %> sq feet</li>
                                            <li class="list-group-item"><label><h5>Rent:</h5></label> $<%= model.rent %></li>
        
                                          </ul>
                            </div>
                        </div>
                    </div>
                    <% }); %>




                  


            <div id="div02" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            
            </div>

            <div id="div03" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
               
            </div>

            <div id="div04" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
               
            </div>

        
    </div>
   </div>

    <script>
       
        window.onload = function(){

            var create=document.getElementById("create");
           console.log(create);

            var admin=document.getElementById("admin");
            var myrent=document.getElementById("myrent");    

      	  if("<%= req.session.username %>" == 'admin'){
                myrent.style.display='none';
                login.style.display='none';
                logout.style.display='inline';
                hiadmin.style.display='inline';
            }else if("<%= req.session.username %>" == 'kenny'){
                create.style.display='none';
                admin.style.display='none';
                login.style.display='none';
                logout.style.display='inline';
                hikenny.style.display='inline';
            }else if("<%= req.session.username %>" == 'martin'){
                create.style.display='none';
                admin.style.display='none';
                login.style.display='none';
                logout.style.display='inline';
                himartin.style.display='inline';
            }else {
                create.style.display='none';
                admin.style.display='none';
                myrent.style.display='none';
            }
            
        }
 

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>