<!--index.ejs-->
<table class="table">
    <% rents.forEach( function(model) { %>
    <tr>
        <td><%= model.title %></td>
        <td><%= model.url %></td>
        <td><%= model.bedroom %></td>
        <td><%= model.area %></td>
        <td><%= model.tenant %></td>
        <td><%= model.rent %></td>

    </tr>
    <% }); %>
</table>