<!--paginate.ejs-->
<table class="table">
    <% rents.forEach( function(model) { %>
    <tr>
        <td><%= model.title %></td>
        <td><%= model.url %></td>
        <td><%= model.bedroom %></td>
        <td><%= model.area %></td>
        <td><%= model.tenant %></td>
        <td><%= model.rent %></td>
    </tr>
    <% }); %>
</table>

<% const current = parseInt(req.query.page) || 1; %>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/rent/paginate/?page=<%= Math.max(current-1, 1) %>">Previous</a>
        </li>

        <% for (i = 1; i <= count; i++) { %>
        <li class="page-item">
            <a class="page-link" href="/rent/paginate/?page=<%= i %>"><%= i %></a>
        </li>
        <% } %>

        <li class="page-item">
            <a class="page-link" href="/rent/paginate/?page=<%= Math.min(current+1, count) %>">Next</a>
        </li>
    </ul>
</nav>