













<table class="table">

    <tr>
        <td><%= rent.title %></td>
        <td><%= rent.eatate %></td>
        <td><%= rent.url %></td>
        <td><%= rent.bedroom %></td>
        <td><%= rent.area %></td>
        <td><%= rent.tenant %></td>
        <td><%= rent.rent %></td>
    </tr>

</table>

<form action="/rent/delete/<%= rent.id %>" method="post">
    <button type="submit" class="btn btn-primary" color=red>delete</button>
</form>

<br>

<form action="/rent/update/<%= rent.id %>" method="post">
    <button type="submit" class="btn btn-primary" color=red>update</button>
</form>