<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>details</title>
    <style>
        nav a {
            font-family: "MuseoModerno", cursive;
            font-size: 16px;
            font-weight: 400;
        }
        
        .jumbotron {
            padding: 2rem 0rem;
            margin-bottom: 1rem;
        }
        
        .jumbotron h1 {
            font-family: "Sofia", cursive;
        }
        
        .jumbotron .lead {
            font-family: "Noto Sans HK", sans-serif;
            font-size: 1.25rem;
        }
        
        #content {
            margin-bottom: 82px;
        }
        
        #btn {
            margin-top: 362px;
        }
        
        @media only screen and (max-width: 991px) {
            #btn {
                margin-top: 10px;
            }
        }
        
        #img01 {
            margin-top: 12px;
        }
        
        .class3 {
            background-color: lightsalmon
        }
        
        #div01 {
            border-style: hidden
        }
        
        #div02 {
            border-style: hidden
        }
        
        #div03 {
            border-style: hidden
        }
        
        #div04 {
            border-style: hidden
        }
        
        #div05 {
            border-style: hidden
        }
        
        #div06 {
            border-style: hidden
        }
        
        #div07 {
            border-style: hidden
        }
        
        #div08 {
            border-style: hidden
        }
        
        #div09 {
            border-style: hidden
        }
        
        #div10 {
            border-style: hidden
        }
        
        #div11 {
            border-style: hidden
        }
        
        #div12 {
            border-style: hidden
        }
        
        #div13 {
            border-style: hidden
        }
        
        #aab {
            padding: 1px 30px 20px;
        }
        
        footer {
            border-top: solid 1px #e4e4e4;
            position: initial;
            bottom: 0;
            width: 100%;
            background-color: #f2f2f2;
        }
        
        footer img {
            width: 72px;
            float: left;
        }
        
        footer .lead {
            font-size: 15px;
        }
        
        footer .container {
            margin-top: 8px;
        }
        
        footer p {
            font-family: "open Sans", sans-serif;
            font-size: 14px;
            color: rgb(92, 92, 92);
            margin-bottom: 1px;
        }
        
        footer h5 {
            font-family: "Noto Sans TC", sans-serif;
            font-size: 18px;
        }
        
        footer ul {
            list-style: none;
            padding: 0;
            float: left;
            margin-right: 70px;
        }
        
        footer ul li {
            margin-bottom: 7px;
        }
        
        footer ul li a {
            color: rgb(92, 92, 92);
        }
        
        @media only screen and (max-width: 1200px) {
            footer .lead {
                margin-left: 72px;
            }
        }
        
        @media only screen and (max-width: 767px) {
            #links {
                margin-top: 20px;
            }
        }
        
        @media only screen and (max-width: 574px) {
            #links {
                margin-top: 1px;
            }
        }
        
        @media only screen and (max-width: 991px) {
            footer .lead {
                margin-left: 72px;
                margin-top: 8px;
            }
            footer ul {
                margin-bottom: 0;
            }
        }
    </style>



</head>

<body οnlοad="init()">
    <div class="container ">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="http://localhost:1337/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" id="flip" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link " href="http://localhost:1337/rent/paginate">Search</a>
                    <a class="nav-item nav-link " href="http://localhost:1337/user/2/renting" style='display:inline' id='myrent'>My Rentals</a>
                    <a class="nav-item nav-link " href="http://localhost:1337/rent/create" style='display:inline' id='create'>Create</a>
                    <a class="nav-item nav-link active" href="http://localhost:1337/rent" style='display:inline' id='admin'>Admin<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="http://localhost:1337/user/login" style='display:inline' id='login'>Login</a>
                </div>
            </div>
            <text style='display:none' id='hiadmin'>
                <h5>hi,admin</h5>
            </text>
            <text style='display:none' id='himartin'>
                <h5>hi,martin</h5>
            </text>
            <text style='display:none' id='hikenny'>
                <h5>hi,kenny</h5>
            </text>
            <a class="nav-item nav-link" href="http://localhost:1337/user/logout" style='display:none' id='logout'>Logout</a>
        </nav>
    </div>
    <div id="highlight" class="jumbotron jumbotron-fluid">
        <div class="jumbotron">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="display-4">Real Estate Rental System</h1>
                    <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and finding roommates.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container " id="content">
        <form action="/rent/details/<%= rent.id %>" method="POST">
            <div class="card" id="aab">
                <br>
                <div class="col-12 ">
                    <h4>
                        <%= rent.title %>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-6">
                        <img class="img-fluid img-thumbnail" src="<%= rent.url %>" value="cover" width="500" height="500" id="img01" />
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4" id="div1">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5> Estate： </h4>
                                        <%= rent.estate %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5> Gross Area： </h4>
                                        <%= rent.area %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class=" row">
                                    <h5> Rent：</h4>$
                                        <%= rent.rent %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5> Bedrooms：</h4>
                                        <%= rent.bedroom %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5> Expected Tenants： </h4>
                                        <%= rent.tenant %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class=" row">
                                    <h5> Created：</h4>
                                        <%= new Date(rent.createdAt).toLocaleDateString() %>
                                </div>
                            </a>
                            <a class="list-group-item list-group-item-action">
                                <div class="row">
                                    <h5>Updated：</h4>
                                        <%= new Date(rent.updatedAt).toLocaleDateString() %>
                                </div>
                            </a>
                            <br>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-2 col-xl-2" id="btn">
                        <div style='display:none' id='botton'>
                            <button type="button" class="btn btn-primary" onclick="corent('<%= rent.id %>')">Move
                                in</button>
                        </div>
                        <div style='display:none' id='botton2'>
                            <button type="button" class="btn btn-danger" onclick="remove('<%= rent.id %>')">Move
                                out</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>

    <div id="footer" class="fixed-bottom">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-left" style="padding: 0" id="fdiv" }}>
                        <img src='https://i.ibb.co/vDHHmnS/logo.png'></img>
                        <h5 id="links">Real Estate Rental System</h5>
                        <p class="lead">Simple and easy-to-use rental system can find roommates for you.
                        </p>
                    </div>
                    <div class="col-md-4 text-left" id="fdiv">
                        <h5 id="links">Links</h5>
                        <ul>
                            <li><a href="http://localhost:3000/">Home</a></li>
                            <li><a href="http://localhost:1337/rent/paginate">Search</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-left" id="fdiv">
                        <h5>Contact Me</h5>
                        <p>香港浸會大學吳多泰博士國際中心809房<br> Phone: (852) 9047-3975<br> E-Mail: <a href="mailto:19413238@life.hkbu.edu.hk">19413238@life.hkbu.edu.hk</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        //http://localhost:1337/user/2/renting/add/2
        //http://localhost:1337/user/2/renting/remove/2

        //RESTful + AJAX + JSON
        async function corent(id) {
            var r = confirm("Confirm Rent?");
            var uid = "<%= req.session.uid %>";
            console.log(uid);
            if (r) {
                var response = await fetch("/user/" + uid + "/renting/add/" + id, {
                    method: "POST",
                    credentials: 'same-origin'
                });
                if (response.ok) {
                    var data = await response.json();
                    alert(data.message);
                    window.location = data.url;
                    location.reload(true);
                } else {
                    alert(response.status + ": " + response.statusText);
                }
            } else {
                alert("cancelled");
            }
        };

        //RESTful + AJAX + JSON
        async function remove(id) {
            var r = confirm("Confirm Remove?");
            if (r) {
                var response = await fetch("/user/2/renting/remove/" + id, {
                    method: "POST",
                    credentials: 'same-origin'
                });
                if (response.ok) {
                    var data = await response.json();
                    alert(data.message);
                    window.location = data.url;
                    location.reload(true);
                } else {
                    alert(response.status + ": " + response.statusText);
                }
            } else {
                alert("cancelled");
            }
        };

        window.onload = function() {
            var create = document.getElementById("create");
            var admin = document.getElementById("admin");
            var myrent = document.getElementById("myrent");
            if ("<%= req.session.username %>" == 'admin') {
                myrent.style.display = 'none';
                login.style.display = 'none';
                logout.style.display = 'inline';
                hiadmin.style.display = 'inline';
            } else if ("<%= req.session.username %>" == 'kenny') {
                create.style.display = 'none';
                admin.style.display = 'none';
                login.style.display = 'none';
                logout.style.display = 'inline';
                hikenny.style.display = 'inline';
                //                 botton.style.display = 'inline';
                //                 botton2.style.display = 'inline';
                // botton2.style.display = 'none';
            } else if ("<%= req.session.username %>" == 'martin') {
                create.style.display = 'none';
                admin.style.display = 'none';
                login.style.display = 'none';
                logout.style.display = 'inline';
                himartin.style.display = 'inline';
                // botton.style.display = 'inline';
            } else {
                create.style.display = 'none';
                admin.style.display = 'none';
                myrent.style.display = 'none';
            }
            if ("<%= req.session.message %>" == 'moveout') {
                botton2.style.display = 'inline';
            } else if ("<%= req.session.message %>" == 'full') {
                botton.style.display = 'none';
                botton2.style.display = 'none';
            } else if ("<%= req.session.message %>" == 'corent') {
                botton.style.display = 'inline';
            }
        }
    </script>

</body>

</html>