<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>index</title>
  <style>
    #container {
      position: relative;
      width: 100%;
      min-height: 100%;
      padding-bottom: 100px;
      box-sizing: border-box;
    }

    footer {
      border-top: solid 1px #e4e4e4;
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      margin-top: 10px;
      background-color: #f2f2f2;
    }

    nav a {
      font-family: "MuseoModerno", cursive;
      font-size: 16px;
      font-weight: 400;
    }

    .jumbotron {
      padding: 2rem 0rem;
      margin-bottom: 1rem;
    }

    .jumbotron h1 {
      font-family: "Sofia", cursive;
    }

    .jumbotron .lead {
      font-family: "Noto Sans HK", sans-serif;
      font-size: 1.25rem;
    }

    section #div01 {
      padding: 20px 20px 20px;
    }

    section h5 {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 18px;
    }

    section #title {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 20px;
      margin-bottom: 20px;
    }

    section li {
      font-family: "open Sans", sans-serif;
      font-size: 14px;
    }

    section i {
      font-size: smaller;
      color: dimgrey;
    }

    section img {
      width: 100%;
    }

    section .container {
      margin-bottom: 63px;
    }

    @media only screen and (max-width: 991px) {
      section #div01 {
        margin-bottom: 17px;
      }
    }

    @media only screen and (min-height: 1060px) {
      footer {
        position: fixed;
      }
    }



    footer img {
      width: 72px;
      float: left;
    }

    footer .lead {
      font-size: 15px;
    }

    footer .container {
      margin-top: 8px;
    }

    footer p {
      font-family: "open Sans", sans-serif;
      font-size: 14px;
      color: rgb(92, 92, 92);
      margin-bottom: 1px;
    }

    footer h5 {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 18px;
    }

    footer ul {
      list-style: none;
      padding: 0;
      float: left;
      margin-right: 70px;
    }

    footer ul li {
      margin-bottom: 7px;
    }

    footer ul li a {
      color: rgb(92, 92, 92);
    }

    @media only screen and (max-width: 1200px) {
      footer .lead {
        margin-left: 72px;
      }
    }

    @media only screen and (max-width: 767px) {
      #links {
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: 574px) {
      #links {
        margin-top: 1px;
      }
      section {
        margin-bottom: 146px;
      }
    }

    @media only screen and (max-width: 991px) {
      footer .lead {
        margin-left: 72px;
        margin-top: 8px;
      }

      footer ul {
        margin-bottom: 0;
      }
    }

  </style>
</head>

<body οnlοad="init()">
  <div id='container'>
    <div class="container ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="http://localhost:1337/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" id="flip"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="http://localhost:1337/rent/paginate">Search </a>
            <a class="nav-item nav-link " href="http://localhost:1337/user/1/renting" style='display:none'
              id='myrent1'>My Rentals</a>
            <a class="nav-item nav-link " href="http://localhost:1337/user/2/renting" style='display:none'
              id='myrent2'>My Rentals</a>
            <a class="nav-item nav-link" href="http://localhost:1337/rent/create" style='display:none'
              id='create'>Create</a>
            <a class="nav-item nav-link" href="http://localhost:1337/rent" style='display:none' id='admin'>Admin</a>
            <a class="nav-item nav-link" href="http://localhost:1337/user/login" style='display:none'
              id='login'>Login</a>
          </div>
        </div>
        <text style='display:none' id='hiadmin'>
          <h5>hi,admin</h5>
        </text>
        <text style='display:none' id='himartin'>
          <h5>hi,martin</h5>
        </text>
        <text style='display:none' id='hikenny'>
          <h5>hi,kenny</h5>
        </text>
        <a class="nav-item nav-link" href="http://localhost:1337/user/logout" style='display:none'
          id='logout'>Logout</a>
      </nav>
    </div>
    <div id="highlight" class="jumbotron jumbotron-fluid">
      <div class="jumbotron">
        <div class="container">
          <div class="col-md-12">
            <h1 class="display-4">Real Estate Rental System</h1>
            <p class="lead">Real Estate Rental Management System is a web-based system to facilitate
              flatshare and finding roommates.
            </p>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="container ">
        <div class="row">
          <% rents.forEach((model) => { %>
          <div id="div01" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
            <h5>
              <a href="http://localhost:1337/rent/details/<%= model.id %>">
                <%= model.title %>
              </a>
            </h5>
            <div class=" row">
              <div class="col-12 col-sm-6 col-lg-6 col-xl-6">
                <img class="img-fluid img-thumbnail" src="<%= model.url %>" value="cover" width="350" height="350" />
              </div>
              <div class="col-12 col-sm-6 col-lg-6 col-xl-6" id="div1">
                <ul class="list-group">
                  <li class="list-group-item">
                    <label>
                      <h5><i class="fas fa-home"></i> Estate:</h5>
                    </label>
                    <%= model.estate %>
                  </li>
                  <li class="list-group-item"><label>
                      <h5><i class="fas fa-th"></i> Gross Area:</h5>
                    </label>
                    <%= model.area %> sq feet
                  </li>
                  <li class="list-group-item"><label>
                      <h5><i class="fas fa-hand-holding-usd"></i> Rent:</h5>
                    </label> $
                    <%= model.rent %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <% }); %>
          <div id="div02" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
          </div>
          <div id="div03" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
          </div>
          <div id="div04" class="card col-12 col-sm-12 col-lg-6 col-xl-6">
          </div>
        </div>
      </div>
    </section>

    <div id="footer">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-left" style="padding: 0" id="fdiv" }}>
              <img src='https://i.ibb.co/vDHHmnS/logo.png'></img>
              <h5 id="links">Real Estate Rental System</h5>
              <p class="lead">Simple and easy-to-use rental system can find roommates for you.
              </p>
            </div>
            <div class="col-md-4 text-left" id="fdiv">
              <h5 id="links">Links</h5>
              <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:1337/rent/paginate">Search</a></li>
              </ul>
              <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4 text-left" id="fdiv">
              <h5>Contact Me</h5>
              <p>香港浸會大學吳多泰博士國際中心809房<br> Phone: (852) 9047-3975<br> E-Mail: <a
                  href="mailto:19413238@life.hkbu.edu.hk">19413238@life.hkbu.edu.hk</a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script>
    window.onload = function () {
      var create = document.getElementById("create");
      var admin = document.getElementById("admin");
      var myrent = document.getElementById("myrent");
      if ("<%= req.session.username %>" == 'admin') {
        create.style.display = 'inline';
        admin.style.display = 'inline';
        login.style.display = 'none';
        logout.style.display = 'inline';
        hiadmin.style.display = 'inline';
      } else if ("<%= req.session.username %>" == 'kenny') {
        create.style.display = 'none';
        admin.style.display = 'none';
        login.style.display = 'none';
        logout.style.display = 'inline';
        hikenny.style.display = 'inline';
        myrent2.style.display = 'inline';
      } else {
        login.style.display = 'inline';
        create.style.display = 'none';
        admin.style.display = 'none';
      }
    }
  </script>

</body>

</html>
